# Template supplied by github
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.class
*.aux

# gedit stuffies
*.py~
*.c~
*.h~
*.java~

# Debug files
*.dSYM/


*.pdf
nio/*
*.swp
/bin/

.classpath
.project
.settings

data
serverdata
csv_candidates
processed
pdf
candidates.csv
earlybackup.csv
